<%# \\wsl.localhost\Ubuntu\home\aivets\projects\worryaway\app\views\worries\edit.html.erb %>

<div class="home-body">
  <%= form_with(model: @worry, local: true) do |f| %>
    <%= f.hidden_field :from_temp_page, value: @from_temp_page %>  <!-- 隠しフィールド -->

    <h1>編集ページ</h1>

    <div class="field">
      <%= f.file_field :image, class: "custom-file-input", id: "imageInput" %>
      <% if @worry.image.attached? %>
        <img id="imagePreview" src="<%= url_for(@worry.image) %>" alt="悩みの画像" style="max-width: 200px;"/>
      <% else %>
        <img id="imagePreview" src="#" alt="選択した画像" style="max-width: 200px; display: none;"/>
      <% end %>
    </div>

<div class="field" style="display: flex; align-items: center; justify-content: flex-start;">
  <div style="margin-right: 10px;"> <!-- ボタンを右にスペースを作成 -->
    <% if @worry.image.attached? %>
      <%= link_to "画像削除", remove_image_worry_path(@worry), method: :delete, data: { confirm: '画像を削除しますか？' }, class: "btn-standard1" %>
    <% end %>
  </div>
</div>

    <div class="field">
      <%= f.label :text, "テキスト入力" %>
      <%= f.text_area :text %>
    </div>

    <div class="field">
      <%= link_to "戻る", @from_temp_page ? temp_page_path : user_path(current_user), class: "btn btn-secondary", class: "btn-standard1" %>
      <%= f.submit "更新", class: "btn btn-primary", class: "btn-standard2" %>
    </div>

  <% end %>
</div>

<script>
<%= javascript_importmap_tags 'image_preview' %>
</script>
