<%# \\wsl.localhost\Ubuntu\home\aivets\projects\worryaway\app\views\worries\new.html.erb %>


<div class="centered-container">
  <%= form_with(model: Worry.new, local: true) do |f| %>
    <div class="header">
      <h1>お悩み投稿</h1>
    </div>
    
    <div class="field">
      <div class="file-wrapper">
        <%= f.file_field :image, class: "custom-file-input", id: "imageInput" %>
        <%# <span>画像選択</span> %>
        <img id="imagePreview" src="#" alt="選択した画像" style="max-width: 200px; display: none;"/>
      </div>
    </div>

    <div class="field">
      <%= f.label :text, "テキスト入力" %>
      <%= f.text_area :text %>
    </div>

    <div class="actions">
      <%= link_to "戻る", user_path(current_user), class: "btn btn-secondary" %>
      <%= f.submit "投稿", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


<script>
  document.getElementById('imageInput').addEventListener('change', function(event){
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onloadend = function() {
      document.getElementById('imagePreview').style.display = "block";
      document.getElementById('imagePreview').src = reader.result;
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      document.getElementById('imagePreview').src = "";
    }
  });
</script>