<%# \\wsl.localhost\Ubuntu\home\aivets\projects\worryaway\app\views\worries\new.html.erb %>

<div class="home-body">
  <%= form_with(model: Worry.new, local: true) do |f| %>


    <h1>お悩み投稿</h1>

    <div class="field">
      <%= f.file_field :image, class: "custom-file-input", id: "imageInput" %>

      <img id="imagePreview" src="/assets/no_image.png" alt="選択した画像" style="max-width: 200px;"/>



    </div>

    <div class="field">
      <%= f.label :text, "テキスト入力　" %>
      <%= f.text_area :text %>
    </div>

    <div class="field">
      <%= link_to "戻る", user_path(current_user), class: "btn btn-secondary", class: "btn-standard1" %>
      <%= f.submit "投稿", class: "btn btn-primary", class: "btn-standard2" %>
    </div>

  <% end %>
</div>

<script>
<%= javascript_importmap_tags 'image_preview' %>
</script>