<%# \\wsl.localhost\Ubuntu\home\aivets\projects\worryaway\app\views\users\show.html.erb %>

<% if action_name == "show" %>

  <%# アクションがshowの時（〇〇さんのページ） %>
  <%= form_with(url: move_to_temp_worries_path, method: :post) do %>
    <div class="header">
      <h1><%= current_user.name %> さんのページ</h1>
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-standard1" %>
      <%# <br> %>
      <%= link_to "一時フォルダページ", temp_page_path, class: "btn-standard1" %>
      <%= link_to "お悩み投稿", new_worry_path, class: "btn-standard1" %>
      <%# <br> %>
      <%= submit_tag 'データ削除', class: "btn-standard2" %>
      <%= submit_tag "一時フォルダへ移動", class: "btn-standard2" %>
      <%= submit_tag "編集", name: 'edit', value: '編集', class: "btn-standard2" %>
    </div>
    <div class="worries-list">
      <% @worries.each do |worry| %>
        <div class="worry-item">
          <%= check_box_tag "selected_worries[]", worry.id, false, class: "worry-check" %>
          <% if worry.image.attached? %>
            <%= image_tag worry.image, alt: "悩みの画像", width: "200" %>
          <% end %>
          <p><%= worry.text %></p>
        </div>
      <% end %>
    </div>
  <% end %>

<% else %>

  <%# アクションがshow以外の時（一時ページ） %>
  <%= form_with(url: move_from_temp_worries_path, method: :post) do %>
    <div class="header">
      <h1>一時ページ</h1>
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-standard1" %>
      <%# <%= link_to "#{current_user.name}さんのページ", user_path(current_user), class: "btn-standard" %>
      <%# <br> %>
      <%= link_to "ユーザーページ", user_path(current_user), class: "btn-standard1" %>      
      <%= link_to "お悩み投稿", new_worry_path, class: "btn-standard1" %>
      <%# <br> %>
      <%= submit_tag 'データ削除', class: "btn-standard2" %>
      <%# <%= submit_tag "#{current_user.name}さんのページに戻す", class: "btn-standard" %>
      <%= submit_tag "ユーザーページに戻す", class: "btn-standard2" %>
      <%= submit_tag "編集", name: 'edit', value: '編集', class: "btn-standard2" %>
    </div>
    <div class="worries-list">
      <% @worries.each do |worry| %>
        <div class="worry-item">
          <%= check_box_tag "selected_worries[]", worry.id, false, class: "worry-check" %>

          <% if worry.image.attached? %>
            <%# <%= image_tag worry.image, alt: "悩みの画像", width: "200" %>
            <%# 透明度を変更して表示%>
            <%= image_tag worry.image, alt: "悩みの画像", width: "200", style: "opacity: #{worry.transparency_level};" %>
          <% end %>

          <p><%= worry.text %></p>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>



